<section class="bg-clr-DeepPlum text-center font-raleway flex flex-col justify-center md:flex-row md:justify-between px-4 py-3 items-center">
    <div class="flex items-center justify-between py-2 px-4">
        <img src="assets/logo.png" alt="Logo" class="h-10 rounded-full border-2 mr-2 hover:scale-105 duration-300">
        <h1 class="text-clr-LightIvory text-2xl font-raleway p-0 m-0 hover:scale-105 duration-300">Freelancing Platform</h1>

        <nav class="hidden md:flex pl-6">
            <ul class="flex justify-start items-center gap-x-2 p-0 m-0 text-base">
                <li>
                    <a routerLink="home" class="text-white px-2 py-1 rounded-lg cursor-pointer transition-transform duration-200 hover:scale-105">Home</a>
                </li>
                <li class="dropdown relative">
                    <a href="#" class="text-white px-2 py-1 rounded-lg cursor-pointer transition-transform duration-200 hover:scale-105 flex items-center gap-1">
                      Find Expert <i class="bi bi-chevron-down align-middle"></i>
                    </a>
                    <div class="dropdown-content absolute left-0 top-full mt-0 w-96 bg-white text-black p-5 rounded-xl shadow-xl">
                      <h4 class="font-semibold mb-2 text-primary-section">Browse by Technology</h4>
                      <ul class="mb-4 grid grid-cols-2 gap-2 text-sm">
                        <li><a href="#" class="hover:text-primary-cta">Web Development</a></li>
                        <li><a href="#" class="hover:text-primary-cta">App Development</a></li>
                        <li><a href="#" class="hover:text-primary-cta">IoT</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Cloud</a></li>
                        <li><a href="#" class="hover:text-primary-cta">DevOps</a></li>
                        <li><a href="#" class="hover:text-primary-cta">AI/ML</a></li>
                        <li><a href="#" class="hover:text-primary-cta">GenAI</a></li>
                      </ul>
                      <h4 class="font-semibold mb-2 text-primary-section">Expert by Region</h4>
                      <ul class="mb-4 grid grid-cols-2 gap-2 text-sm">
                        <li><a href="#" class="hover:text-primary-cta">Asia</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Europe</a></li>
                        <li><a href="#" class="hover:text-primary-cta">North America</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Australia</a></li>
                      </ul>
                      <h4 class="font-semibold mb-2 text-primary-section">Expert by Skill</h4>
                      <ul class="mb-4 grid grid-cols-2 gap-2 text-sm">
                        <li><a href="#" class="hover:text-primary-cta">UI/UX Design</a></li>
                        <li><a href="#" class="hover:text-primary-cta">SEO</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Content Writing</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Mobile Apps</a></li>
                      </ul>
                      <h4 class="font-semibold mb-2 text-primary-section">Filter by</h4>
                      <ul class="grid grid-cols-1 gap-2 text-sm">
                        <li><a href="#" class="hover:text-primary-cta">Years of Experience</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Highest Projects Finished</a></li>
                      </ul>
                    </div>
                </li>
                <li class="dropdown relative">
                    <a href="#" class="text-white px-2 py-1 rounded-lg cursor-pointer transition-transform duration-200 hover:scale-105 flex items-center gap-1">
                      Find Work <i class="bi bi-chevron-down align-middle"></i>
                    </a>
                    <div class="dropdown-content absolute left-0 top-full mt-0 w-96 bg-white text-black p-5 rounded-xl shadow-xl">
                      <h4 class="font-semibold mb-2 text-primary-section">Projects by Technology</h4>
                      <ul class="mb-4 grid grid-cols-2 gap-2 text-sm">
                        <li><a href="#" class="hover:text-primary-cta">Web Development</a></li>
                        <li><a href="#" class="hover:text-primary-cta">App Development</a></li>
                        <li><a href="#" class="hover:text-primary-cta">IoT</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Cloud</a></li>
                        <li><a href="#" class="hover:text-primary-cta">DevOps</a></li>
                        <li><a href="#" class="hover:text-primary-cta">AI/ML</a></li>
                        <li><a href="#" class="hover:text-primary-cta">GenAI</a></li>
                      </ul>
                      <h4 class="font-semibold mb-2 text-primary-section">Filter by Region</h4>
                      <ul class="mb-4 grid grid-cols-2 gap-2 text-sm">
                        <li><a href="#" class="hover:text-primary-cta">Asia</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Europe</a></li>
                        <li><a href="#" class="hover:text-primary-cta">North America</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Australia</a></li>
                      </ul>
                      <h4 class="font-semibold mb-2 text-primary-section">Filter by Skill</h4>
                      <ul class="mb-4 grid grid-cols-2 gap-2 text-sm">
                        <li><a href="#" class="hover:text-primary-cta">UI/UX Design</a></li>
                        <li><a href="#" class="hover:text-primary-cta">SEO</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Content Writing</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Mobile Apps</a></li>
                      </ul>
                      <h4 class="font-semibold mb-2 text-primary-section">Filter by</h4>
                      <ul class="grid grid-cols-1 gap-2 text-sm">
                        <li><a href="#" class="hover:text-primary-cta">Years of Experience</a></li>
                        <li><a href="#" class="hover:text-primary-cta">Highest Projects Finished</a></li>
                      </ul>
                    </div>
                </li>
                @if (authDetails?.role === 'freelancer') {
                    <li><a href="#" class="text-white px-2 py-1 rounded-lg cursor-pointer transition-transform duration-200 hover:scale-105">My Project</a></li>
                    <li><a href="#" class="text-white px-2 py-1 rounded-lg cursor-pointer transition-transform duration-200 hover:scale-105">My Proposal</a></li>
                    <li><a href="#" class="text-white px-2 py-1 rounded-lg cursor-pointer transition-transform duration-200 hover:scale-105">Chat</a></li>
                }
                @if (authDetails?.role === 'client') {
                    <li><a href="#" class="text-white px-2 py-1 rounded-lg cursor-pointer transition-transform duration-200 hover:scale-105">My Project</a></li>
                    <li><a href="#" class="text-white px-2 py-1 rounded-lg cursor-pointer transition-transform duration-200 hover:scale-105">Chat</a></li>
                }
            </ul>
        </nav>
    </div>
    @if (!authDetails) {
    <div class="md:flex hidden items-center gap-4">
        <div routerLink="auth" class="text-white transition-transform duration-200 hover:scale-105 cursor-pointer">Sign up</div>
        <div routerLink="auth" class="login-btn transition-transform duration-200 hover:scale-105 cursor-pointer">Log In</div>
    </div>
    } @else {
        <div class="login-btn transition-transform duration-200 hover:scale-105 cursor-pointer">Profile</div>
    }

    <!-- Mobile Side Drawer Menu -->
    <div id="mobile-menu" class="md:hidden absolute top-2 right-0 rounded-lg h-auto w-auto bg-clr-LightIvory shadow-2xl z-50 transform transition-transform duration-300" [ngClass]="{ 'translate-x-0': showMobileMenu, 'translate-x-full': !showMobileMenu }">
        <div class="flex justify-end p-4">
            <button (click)="toggleMobileMenu()" class="text-2xl text-primary-section focus:outline-none">
            <i class="bi bi-x menu"></i>
            </button>
        </div>
        <ul class="flex flex-col gap-2 px-6">
            <li><a routerLink="home" class="block px-4 py-2 rounded-lg text-black transition">Home</a></li>
            <li><a href="#" class="block px-4 py-2 rounded-lg text-black transition">Find Expert</a></li>
            <li><a href="#" class="block px-4 py-2 rounded-lg text-black transition">Find Work</a></li>
            <li><a href="#" class="block px-4 py-2 rounded-lg text-black transition">Contact</a></li>
            @if (authDetails?.role === 'freelancer') {
                    <li><a href="#" class="block px-4 py-2 rounded-lg text-black transition">My Project</a></li>
                    <li><a href="#" class="block px-4 py-2 rounded-lg text-black transition">My Proposal</a></li>
                    <li><a href="#" class="block px-4 py-2 rounded-lg text-black transition">Chat</a></li>
                }
                @if (authDetails?.role === 'client') {
                    <li><a href="#" class="block px-4 py-2 rounded-lg text-black transition">My Project</a></li>
                    <li><a href="#" class="block px-4 py-2 rounded-lg text-black transition">Chat</a></li>
                }
        </ul>
        @if (!authDetails) {
        <div class="flex flex-col gap-2 mt-6 px-6">
            <div class="login-btn">Log In</div>
            <div class="text-white mb-10 bg-clr-DeepPlum px-4 py-2 rounded-lg text-center cursor-pointer hover:scale-105 transition-transform duration-200">Sign up</div>
        </div>
        } @else {
            <div class="text-white mb-10 bg-clr-DeepPlum px-4 py-2 rounded-lg text-center cursor-pointer hover:scale-105 transition-transform duration-200">Profile</div>
        }
    </div>
    <!-- Hamburger Icon for Mobile -->
    <button class="md:hidden fixed top-4 right-4 z-50 flex items-center px-2 py-1 border rounded text-white border-white focus:outline-none" (click)="toggleMobileMenu()">
    <i class="bi bi-list menu" [style]="{ 'visibility': showMobileMenu ? 'hidden' : 'visible' }"></i>
    </button>

</section>