@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&family=Lora:wght@400;500;700&family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background: theme('colors.clr-babyPink');
}

/* custom colors */
.primary-cta {
  color: #1C2155;
}
.primary-section{
  color:#065A82;
}
.soft-pink {
  color:#FFD9DA;
}
.muted-purple {
  color:#9882AC;
}
.primary-header{
  color:#BB8037;
}
.light-gray{
  color:#D4D4D4;
}